<section class="hero is-success is-large">
    <div class="container has-text-centered">
        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
              <div class="container">
                <ul>
                  <li class="">
                    <a href="/gerant/avis">avis</a>
                  </li>
                  <li class="">
                    <a href="/gerant/reserv">Réservation</a>
                  </li>
                  <li class="">
                    <a href="/gerant/tablo">Table</a>
                  </li>
                  <li class="is-active">
                    <a href="/">Page d'accueil</a>
                  </li>
                </ul>
              </div>
            </nav>
        </div>
    </div>
</section>