<!-- barre de navigation de l'application -->
<nav class="navbar " role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a  href="/" class="navbar-item">
        <img src="icones/logo.png" alt="logo"  style="max-height: 100px" class="py-2 px-2">
        <p class="title logo">Restaurant <br>la cale</p>
      </a>
     
  
      <a role="button" class="navbar-burger"  id='burger' aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a  href="/"  class="navbar-item">
          Acceuil
        </a>
        <a  href="/carte" class="navbar-item">
         Carte
        </a>
        <a href="/Reservation" class="navbar-item">
           Réservation
        </a>
        <a href="/Privatisation" class="navbar-item">
            Privatisation
        </a>
    </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="/connexion" class="button is-light">
              Connexion
            </a>
            <a href="/avis" class="button is-light">
              Avis
            </a>
          </div>
        </div>
      </div>
    </div>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
</nav>