<!-- une section contenant les infos et coordonnées du restaurant -->
<section class="hero is-small is-link">
    <div class="hero-body">
        <div class="columns is-desktop">
            <div class="column">
              <div class="columns is-desktop ">
                <div class="column">
                  <div class="media">
                    <a href="https://www.facebook.com/LaCale.Restaurant.Poisson/?locale=fr_FR" target="_blank" class="image is-32x32">
                      <img src="./icones/facebook-png.webp" alt="Facebook">
                    </a>
                    <div class="content">
                        <p class="title is-4">Facebook</p>
                    </div>
                  </div>
                </div>
                  <div class="column">
                    <div class="media">
                    <a href="https://www.instagram.com/la_cale_restaurant/" target="_blank" class="image is-32x32">
                      <img src="./icones/logo-instagram.webp" alt="instagram">
                    </a>
                    <div class="content">
                        <p class="title is-4">Instagram</p>
                    </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="media">
                    <a href="https://www.youtube.com/@KahoulMourad" target="_blank" class="image is-32x32">
                      <img src="./icones/youtube-png.webp" alt="youtube">
                    </a>
                    <div class="content">
                        <p class="title is-4">Youtube</p>
                    </div>
                  </div>
                 </div>
             </div>
              <div class="column">
                <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                        <a href="https://google.com/maps/dir//Rte+Hassene+IBNOU+NOUAMANE,+Bir+Mourad+Ra%C3%AFs,+Alg%C3%A9rie/@36.734248,2.9716426,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x128fad83745c7425:0x81a8faabb5ff4cbe!2m2!1d3.0540416!2d36.7342755?entry=ttu" target="_blank" class="image is-32x32">
                            <img src="./icones/adress1.png" alt="Facebook">
                        </a>
                      </div>
                      <div class="content">
                        <p class="title is-6">Rte Hassene IBNOU NOUAMANE, Bir Mourad Raïs, Algérie</p>
                      </div>
                    </div>
                </div>
              </div>
                <div class="column">
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-24x24">
                          <img
                            src="./icones/45765.png"
                            alt="Placeholder image"
                          />
                        </figure>
                      </div>
                      <div class="content">
                        <p class="title is-6">+213 552 18 87 22</p>
                      </div>
                    </div>
                </div>
                </div>
            </div>
            
            <div class="column">
                <article class="message is-dark">
                    <div class="message-body">
                        <div class="content is-small">
                            <h4>HORAIRES</h4>
                            <p>
                                Déjeuner : du mardi au samedi de 12h00 à 13h30 <br>    
                                Dîner : du mardi au samedi de 19h30 à 21h00
                            </p>
                            <h4>RESERVATIONS</h4>
                            <p>
                                Pour toute réservation, merci d'utiliser exclusivement l'onglet "Réservations",
                                où vous aurez accès aux disponibilités en temps réel.
                            </p>
                          </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>